.side-drawer {
  position: fixed;
  width: 280px;
  max-width: 60%;
  height: 100%;
  left: 0;
  top: 0;
  border-right: 1px solid black;
  z-index: 3;
  background-color: white;
  transition: .4s;
  background-color: $color-primary;

  &__container {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
  }

  &.open {
    transform: translateX(0);
  }

  &.close {
    transform: translateX(-100%);
  }
}

@media(min-width: $smartphone-large) {
  .side-drawer {
    display: none;
  }
}
